<h1>Hogwarts Professors</h1>
<% @professors.each do |professor| %>
  <section id="professor-<%= professor.id %>">
  <h2><%= professor.name %></h2>
  <ul>
    <li><%= professor.age %></li>
    <li><%= professor.specialty %></li>
  </ul>
<% end %>
